@page
@model Areas.Administration.Pages.Accounts.Account.ChangePasswordModel
@{
	string message = Model.Message;
}
<div>
	@if (!string.IsNullOrWhiteSpace(message))
	{
		<p class="bg-danger text-dark mx-auto text-center p-4">@message</p>
	}
</div>
<form asp-action="post"
	  enctype="multipart/form-data">
	<div class="card shadow">
		<div class="card-header">
			<h2 class="mb-0">افزودن دسته جدید</h2>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">کلمه عبور</label>
						<input type="text" class="form-control is-valid state-valid"
							   asp-for="Account.Password">
						<span class="text-danger" asp-validation-for="Account.Password"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">تکرار کلمه عبور</label>
						<input type="text" class="form-control is-valid state-valid"
							   asp-for="Account.RePassword">
						<span class="text-danger" asp-validation-for="Account.RePassword"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" asp-for="Account.Id" value="@Model.Account.Id" />
	<input type="submit" class="btn btn-success" value="تغییر" />
</form>