<aside class="mini-cart" id="miniCart">
    <div class="mini-cart-wrapper">
        <div class="mini-cart__close">
            <a href="#" class="btn-close"><i class="la la-remove"></i></a>
        </div>
        <div class="mini-cart-inner">
            <h3 class="mini-cart__heading mb--45">سبد خرید</h3>
            <div class="mini-cart__content">
                <ul class="mini-cart__list" id="Cart_Items_Wrapper">
                    @* <li class="mini-cart__product">
                    <a href="#" class="mini-cart__product-remove">
                    <i class="la la-remove"></i>
                    </a>
                    <div class="mini-cart__product-image">
                    <img src="~/Them/files/img/products/prod-01-100x100.jpg" alt="products">
                    </div>
                    <div class="mini-cart__product-content">
                    <a class="mini-cart__product-title" href="product-details.html">
                    صندلی نقطه ای
                    طلایی.
                    </a>
                    <span class="mini-cart__product-quantity">1 x 49.00 تومان</span>
                    </div>
                    </li> *@
                </ul>
                @*                 <div class="mini-cart__total">
                <span>جمع کل</span>
                <span class="ammount">98.00 تومان</span>
                </div> *@
                <div class="mini-cart__buttons">
                    <a asp-page="Cart" class="btn btn-fullwidth btn-bg-primary mb--20">مشاهده سبد خرید</a>
                    @* <a href="checkout.html" class="btn btn-fullwidth btn-bg-primary">پرداخت</a> *@
                </div>
            </div>
        </div>
    </div>
</aside>